<!-- start custom head snippets -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-2214309606626131",
          enable_page_level_ads: true
     });
</script>
<!-- insert favicons. use https://realfavicongenerator.net/ -->



<script src="/public/katex/katex.min.js"></script>
 <script src="/public/pseudocode.js-1.1/pseudocode.js" type="text/javascript"></script>
<link rel="stylesheet" href="/public/katex/katex.min.css">
<link rel="stylesheet" href="/public/pseudocode.js-1.1/pseudocode.css" type="text/css">

<!-- end custom head snippets -->
